go 1.19

use (
	./A_Star
	./DataStructure/BinaryTree
	./DataStructure/DoublyLinkedList
	./DataStructure/HashTable
	./DataStructure/Heap
	./DataStructure/LinkedList
	./DataStructure/Queue
	./DataStructure/Stack
	./Floyd
	./LeetCode/Easy/Add_Binary
	./LeetCode/Easy/Balanced_Binary_Tree
	./LeetCode/Easy/Best_Time_to_Buy_and_Sell_Stock
	./LeetCode/Easy/Binary_Tree_Inorder_Traversal
	./LeetCode/Easy/Check_If_Two_String_Arrays_are_Equivalent
	./LeetCode/Easy/Climbing_Stairs
	./LeetCode/Easy/Convert_Sorted_Array_to_Binary_Search_Tree
	./LeetCode/Easy/Find_the_Index_of_the_First_Occurrence_in_a_String
	./LeetCode/Easy/Is_Subsequence
	./LeetCode/Easy/Last_Stone_Weight
	./LeetCode/Easy/Length_of_Last_Word
	./LeetCode/Easy/LongestCommonPrefix
	./LeetCode/Easy/Majority_Element
	./LeetCode/Easy/Maximum_Depth_of_Binary_Tree
	./LeetCode/Easy/Merge_Sorted_Array
	./LeetCode/Easy/Merge_Two_Sorted_Lists
	./LeetCode/Easy/Minimum_Depth_of_Binary_Tree
	./LeetCode/Easy/Palindrome_Number
	./LeetCode/Easy/Path_Sum
	./LeetCode/Easy/Plus_One
	./LeetCode/Easy/Remove_Duplicates_from_Sorted_Array
	./LeetCode/Easy/Remove_Duplicates_from_Sorted_List
	./LeetCode/Easy/Remove_Element
	./LeetCode/Easy/Roman_to_Integer
	./LeetCode/Easy/Same_Tree
	./LeetCode/Easy/Search_Insert_Position
	./LeetCode/Easy/Sqrt_x
	./LeetCode/Easy/Symmetric_Tree
	./LeetCode/Easy/Valid_Palindrome
	./LeetCode/Easy/Valid_Parentheses
	./LeetCode/Easy/twoSum
	./LeetCode/Medium/Add_Two_Numbers
	./LeetCode/Medium/Jump_Game_II
	./LeetCode/Medium/Longest_Palindromic_Substring
	./LeetCode/Medium/Longest_Substring_Without_Repeating_Characters
	./LeetCode/Medium/Reverse_Integer
	./MergeSort
	./N_Queen
	./Prim
	./QuickSort
)
