go 1.19

use (
	./Floyd
	./LeetCode/Add_Two_Numbers
	./LeetCode/Check_If_Two_String_Arrays_are_Equivalent
	./LeetCode/Convert_Sorted_Array_to_Binary_Search_Tree
	./LeetCode/Find_the_Index_of_the_First_Occurrence_in_a_String
	./LeetCode/Is_Subsequence
	./LeetCode/LongestCommonPrefix
	./LeetCode/Merge_Two_Sorted_Lists
	./LeetCode/Palindrome_Number
	./LeetCode/Remove_Duplicates_from_Sorted_Array
	./LeetCode/Remove_Element
	./LeetCode/Roman_to_Integer
	./LeetCode/Valid_Parentheses
	./LeetCode/twoSum
	./N_Queen
	./Prim
)
